#include <windows.h>

VS_VERSION_INFO VERSIONINFO
BEGIN
    BLOCK "StringFileInfo"
    {
        BLOCK "040904E4"
        {
            VALUE "CompanyName", "LuSlower Software"
            VALUE "FileDescription", "dwm-bs"
            VALUE "FileVersion", "0.0.0.0"
            VALUE "InternalName", "dwm-bs"
            VALUE "LegalCopyright", "Copyright © LuSlower"
            VALUE "OriginalFilename", "dwm-bs.exe"
            VALUE "ProductName", "dwm-bs"
            VALUE "ProductVersion", "0.0.0.0"
        }
    }
    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x0409, 1252
    }
END
